<app-navbar></app-navbar>

<div class="container mt-5">
  <h1 class="text-center">Detalles de la Asesoría</h1>

  <div *ngIf="asesoria" class="info-container mt-4">
    <div class="info-item">
      <p class="info-title">Materia:</p>
      <p>{{ asesoria.materiaNombre }}</p>
    </div>
    <hr>
    <div class="info-item">
        <p class="info-title">Fecha de Inicio:</p>
        <input type="date" [(ngModel)]="selectedFecha" class="form-control" />
    </div>
    <hr>
    <div class="info-item">
      <p class="info-title">Dias de la Asesoria:</p>
      <p>{{ asesoria.dias }}</p>
    </div>
    <hr>
    <div class="info-item">
      <p class="info-title">Horario:</p>
      <p>{{ asesoria.horario_inicio }} - {{ asesoria.horario_fin }}</p>
    </div>
    <hr>

    <div *ngIf="ocupacion === 'admin';">
      <div class="info-item">
        <p class="info-title">Maestro:</p>
        <select [(ngModel)]="selectedMaesto" class="form-select">
          <option *ngFor="let asesor of maestros" [value]="asesor.id">{{ asesor.nombre }}</option>
        </select>
      </div>
    </div>

<hr>
    <div class="info-item">
      <p class="info-title">Lugar:</p>
      <select [(ngModel)]="selectedLugar" class="form-select">
        <option *ngFor="let lugar of lugares" [value]="lugar.idLugar">{{ lugar.Nombre }}</option>
      </select>
    </div>
    <hr>

    <div class="text-center mt-4">
      <button class="btn btn-primary" (click)="inscribirse()">Aceptar Asesoria</button>
    </div>
  </div>

  <div *ngIf="!asesoria" class="text-center text-muted mt-3">
    No se encontraron los detalles de esta asesoría.
  </div>
</div>
