<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">U A A</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="margin-left: 10%;" class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a style="margin: 0px 50%;" class="nav-link" [routerLink]="'/inicio'">Inicio</a>
        <a style="margin: 0px 50%;" class="nav-link" [routerLink]="'/usuarios'">Usuarios</a>
        <a style="margin: 0px 50%;" class="nav-link" [routerLink]="'/usuarios'">Materias</a>
        <a style="margin: 0px 50%;" class="nav-link" href="#"><i class="fa-solid fa-user"></i></a>
      </div>
    </div>
  </div>
</nav>
