<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container-fluid">
    <a 
      *ngIf="getUsuarioOcupacion() === 'alumno' || getUsuarioOcupacion() === 'tutor'" 
      class="navbar-brand" 
      [routerLink]="getUsuarioOcupacion() === 'alumno' ? '/perfil-alumno' : '/perfil-tutor'">
      U A A
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav ms-auto">
      <a 
        *ngIf="getUsuarioOcupacion() === 'alumno' || getUsuarioOcupacion() === 'tutor'" 
        class="nav-link" 
        [routerLink]="getUsuarioOcupacion() === 'alumno' ? '/perfil-alumno' : '/perfil-tutor'">
        Inicio
      </a>
      <a class="nav-link" [routerLink]="'/calendario'">Calendario</a>
      <a 
      *ngIf="getUsuarioOcupacion() === 'alumno'" 
      class="nav-link" 
      [routerLink]="'/solicitud'"
    >
      Solicitar Asesoría
    </a>
    <a 
      *ngIf="getUsuarioOcupacion() === 'tutor'" 
      class="nav-link" 
      [routerLink]="'/creacion'"
    >
      Crear Asesoría
    </a>
      <a class="nav-link" [routerLink]="'/updateusr'"><i class="fa-solid fa-user"></i></a>
      <a *ngIf="isLoggedIn()" class="nav-link" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i> 
      </a>
    </div>
  </div>
</nav>
