<app-navbar></app-navbar>
<div class="container mt-5">
    <h1 class="text-center">Carrera y Materias</h1>
    <p>Selecciona las materias que pertenezcan a la carrera seleccionada</p>
    
    <!-- Seleccionar carrera -->
    <div class="mb-3">
      <label for="carrera" class="form-label">Selecciona tu Carrera</label>
      <select class="form-select" id="carrera" [(ngModel)]="idCarreraSeleccionada">
        <option *ngFor="let carrera of carreras" [value]="carrera.id">
          {{ carrera.nombre }}
        </option>
      </select>
    </div>
  
    <!-- Seleccionar materias -->
    <div *ngIf="idCarreraSeleccionada" class="mb-3">
      <label class="form-label">Selecciona las materias</label>
      <div *ngFor="let materia of materias">
        <div class="form-check">
          <input
            type="checkbox"
            class="form-check-input"
            [value]="materia.id"
            [(ngModel)]="materia.seleccionada"
            (change)="toggleMateria(materia.id, materia.seleccionada)"
            id="materia-{{ materia.id }}"
          />
          <label class="form-check-label" for="materia-{{ materia.id }}">
            {{ materia.nombre }}
          </label>
        </div>
      </div>
    </div>
  
    <!-- Botón de guardar -->
    <button class="btn btn-primary" (click)="guardarMaterias()">Guardar Selección</button>
    
  </div>