<app-navbar></app-navbar>
<div class="container mt-5">
  <h1 class="text-center">Detalles de la Asesoría</h1>

  <div class="container mt-5">
    <div *ngIf="asesoria" class="info-container mt-4">
      <div class="info-item">
        <p class="info-title">Materia:</p>
        <p>{{ asesoria.materiaNombre }}</p>
      </div>
      <hr>
      <div class="info-item">
        <p class="info-title">Fecha:</p>
        <p>Inicio: {{ asesoria.fecha_inicio }} - Fin: {{ asesoria.fecha_fin }}</p>
      </div>
      <hr>
      <div class="info-item">
        <p class="info-title">Horario:</p>
        <p>{{ asesoria.horario_inicio }} - {{ asesoria.horario_fin }}</p>
      </div>
      <hr>
      <div class="info-item">
        <p class="info-title">Lugar:</p>
        <p>{{ asesoria.lugarNombre }}</p>
      </div>
      <hr>
      <div class="info-item">
        <p class="info-title">Impartido por:</p>
        <p>{{ asesoria.maestroNombre }}</p>
      </div>

      <div class="text-center mt-4">
        <button class="btn btn-primary">Inscribirme</button>
      </div>

      
    </div>

    <div *ngIf="!asesoria" class="text-center text-muted mt-3">
      No se encontraron los detalles de esta asesoría.
    </div>
  </div>
</div>