<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/fondo_login.jpg" class="d-block w-100" alt="Imagen">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/registro.jpg" class="d-block w-100" alt="img">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/fondo_login.jpg" class="d-block w-100" alt="ims">
      </div>
    </div>
</div>